
.container {
    display: grid;
    background-color: #000;
    max-width: 400px;
    height: 100vh; 
    margin: 0 auto; 
    grid-template-rows: 70px 1fr 100px; 
    grid-template-areas: 
        "header header header"
        ". lista ."
        "rodape rodape rodape";
    color: #fff;
}

/*@media(max-width: 400px) {
    .container {
        grid-template-areas: 
            "header header header"
            "lista lista ."
            "lista lista .";
    }
    .container footer {
        display: none;
    }
}*/

/* davesmartins.github.io/code/seletoresCss */

.container header {
    /*o container é grid, mas o header é flex*/
    display: flex;
    grid-area: header;
    background-color: #000;
    /*propriedade flex*/
    align-items: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 36px;
}

.container main  {
    grid-area: lista;
    background-color: red;
}

input, button {
    color: #000;
}

.container footer {
    grid-area: rodape; /* qualquer nome */
    background-color: green;
}

.title {
    flex-grow: 1;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    
}

.container header div {
    padding: 5px;
}